<div class="flex border-t h-screen">
    <!-- Sidebar fixa -->
    <div class="w-64 h-screen shadow-lg flex flex-col fixed">
        <!-- Cabeçalho -->
        <div class="flex items-center justify-between px-6 pt-4 shrink-0">
            <span class="inline-flex items-center gap-2">
                <div class="p-toolbar-group-left">
                    <span class="text-2xl font-bold tracking-tight">Examinis</span>
                </div>
            </span>
        </div>

        <hr class="mt-6 mb-4 mx-4 border-t" />

        <!-- Menu principal -->
        <div class="w-full p-1">
            <p-panelmenu [model]="items"/>
        </div>

        <!-- Rodapé -->
        <div class="mt-auto">
            <hr class="mb-4 mx-4 border-t" />
            <a pRipple
                class="m-4 flex items-center cursor-pointer p-4 gap-2 rounded-lg hover:bg-gray-100 transition-colors">
                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
                <span class="font-bold">Admin da Silva</span>
            </a>
        </div>
    </div>
</div>