<div class="flex border-t h-screen">
    <!-- Sidebar fixa -->
    <div class="w-64 h-screen shadow-lg flex flex-col fixed">
        <!-- Cabeçalho -->
        <div class="flex items-center justify-between px-6 pt-4 shrink-0">
            <span class="inline-flex items-center gap-2">
                <div class="p-toolbar-group-left">
                    <span class="text-2xl font-bold tracking-tight">Examinis</span>
                </div>
            </span>
        </div>

        <hr class="mt-6 mb-4 mx-4 border-t" />

        <!-- Menu principal -->
        <div class="w-full p-1">
            <p-panelmenu [model]="items"/>
        </div>

        <!-- Rodapé - Informações do usuário e logout (apenas para usuários logados) -->
        <div class="mt-auto" *ngIf="isAuthenticated">
            <hr class="mb-4 mx-4 border-t" />
            <div class="mx-4 px-4 py-3 flex items-center justify-between rounded-lg hover:bg-gray-100 transition-colors">
                <!-- Email do usuário -->
                <span class="font-bold">{{ userEmail }}</span>
                
                <!-- Botão de logout -->
                <button pButton 
                    pRipple 
                    icon="pi pi-sign-out" 
                    class="p-button-rounded p-button-text p-button-danger" 
                    pTooltip="Sair" 
                    tooltipPosition="top"
                    (click)="logout()">
                </button>
            </div>
        </div>

        <!-- Rodapé para usuários não logados -->
        <div class="mt-auto" *ngIf="!isAuthenticated">
            <hr class="mb-4 mx-4 border-t" />
            <div class="mx-4 px-4 py-3 flex items-center justify-center rounded-lg hover:bg-gray-100 transition-colors">
                <button pButton 
                    label="Fazer login" 
                    icon="pi pi-sign-in" 
                    class="p-button-text" 
                    routerLink="/login">
                </button>
            </div>
        </div>
    </div>
</div>