<div class="bg-gray-50 p-4">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div *ngFor="let question of questions.results" class="bg-white rounded-lg shadow-md overflow-hidden transition-all duration-300 transform hover:shadow-lg">
          <div class="p-4">
              <div class="flex items-center justify-between">
                  <h3 class="text-lg font-semibold text-gray-900">{{ question.text }}</h3>
                  <div class="flex gap-2">
                      <button pButton type="button" class="p-button-text p-button-sm text-blue-600" icon="fa-solid fa-eye" (click)="viewQuestion(question)" pTooltip="Visualizar" tooltipPosition="top"></button>
                      <button pButton type="button" class="p-button-text p-button-sm text-yellow-600" icon="fa-solid fa-pen-to-square" (click)="editQuestion(question)" pTooltip="Editar" tooltipPosition="top"></button>
                      <button pButton type="button" class="p-button-text p-button-sm text-red-600" icon="fa-solid fa-trash-can" (click)="deleteQuestion(question)" pTooltip="Excluir" tooltipPosition="top"></button>
                  </div>
              </div>
              <div class="mt-2 text-sm text-gray-600">
                  <div class="flex items-center gap-2">
                      <i class="fa-solid fa-book"></i><span>Disciplina:</span> {{ question.subject?.name }}
                  </div>
                  <div class="flex items-center gap-2 mt-1">
                      <i class="fa-solid fa-signal"></i> <span>Dificuldade:</span> {{ question.difficulty?.name }}
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="mt-4 flex justify-center">
      <p-paginator [rows]="questions.size" [totalRecords]="questions.total" (onPageChange)="onPageChange($event)" [rowsPerPageOptions]="[5, 10, 20]"></p-paginator>
  </div>
</div>