<p-toast position="top-center"></p-toast>
<p-confirmdialog></p-confirmdialog>

<!-- Botão para abrir o modal de filtro -->
<div class="flex justify-center p-4">
  <p-button label="Filtrar" severity="contrast" icon="pi pi-filter" (click)="showFilterDialog()" variant="outlined"
    class="ml-auto"></p-button>

  <p-dialog header="Filtrar questões" [modal]="true" [(visible)]="filterDialogVisible" [style]="{ width: '30rem' }">
    <!-- Filtro de Disciplina (com Autocomplete) -->
    <div class="flex gap-2 flex-col">
      <div class="mb-4 w-full">
        <label for="subject" class="block font-medium mb-1">Disciplina</label>
        <p-autocomplete [(ngModel)]="selectedSubject" [dropdown]="true" [suggestions]="filteredSubjects"
          (completeMethod)="searchSubject($event)" field="name" placeholder="Selecione uma disciplina"
          class="w-full p-2 max-h-60 overflow-y-auto">
        </p-autocomplete>
      </div>

      <!-- Filtro de Dificuldade (com Autocomplete) -->
      <div class="mb-4 w-full">
        <label for="difficulty" class="block font-medium mb-1">Dificuldade</label>
        <p-autocomplete [(ngModel)]="selectedDifficulty" [dropdown]="true" [suggestions]="filteredDifficulties"
          (completeMethod)="searchDifficulty($event)" field="name" placeholder="Selecione a dificuldade"
          class="w-full p-2 max-h-60 overflow-y-auto" [appendTo]="'body'">
        </p-autocomplete>
      </div>
    </div>

    <div class="flex justify-between gap-4 mt-4">
      <!-- Botão Limpar Filtros -->
      <p-button label="Limpar filtros" severity="danger" class="p-button-outlined" (click)="clearFilters()" />

      <!-- Botões Cancelar e Aplicar -->
      <div class="flex gap-4">
        <p-button label="Cancelar" severity="secondary" class="p-button-outlined"
          (click)="filterDialogVisible = false" />
        <p-button label="Aplicar" class="p-button-primary" (click)="applyFilters()" />
      </div>
    </div>
  </p-dialog>
</div>

<!-- Lista de questões -->
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  <div *ngFor="let question of filteredQuestions; trackBy: trackById"
    class="surface-card p-4 border-round shadow-2 hover:shadow-4 transition-all duration-300 border border-gray-500 rounded-md">
    <div class="flex justify-between items-center">
      <h3 class="text-xl font-semibold text-900">{{ question.text }}</h3>
      <div class="flex">
        <!-- Botões de ação -->
        <p-button icon="pi pi-eye" [rounded]="true" [text]="true" (click)="viewQuestion(question.id)" />
        <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" severity="info" (click)="editQuestion(question.id)" />
        <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger"
          (click)="question.id && deleteQuestion(question.id)" />
      </div>
    </div>
    <div class="text-sm text-600">
      <div class="flex items-center gap-2">
        <i class="pi pi-book"></i>{{ question.subject.name }}
      </div>
      <div class="flex items-center gap-2 mt-1">
        <i class="pi pi-chart-line"></i>{{ question.difficulty.name }}
      </div>
    </div>
  </div>
</div>

<!-- Paginação -->
<div class="flex justify-center items-center mt-8">
  <p-paginator (onPageChange)="onPageChange($event)" [first]="(questions.page - 1) * questions.size"
    [rows]="questions.size" [totalRecords]="questions.total" [rowsPerPageOptions]="[5, 10, 15]" />
</div>