<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '27rem' }" (onHide)="onDialogClose()">

  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <i class="pi pi-plus"></i>
      <span class="font-bold whitespace-nowrap">Gerar nova prova</span>
    </div>
  </ng-template>

  <span class="text-surface-500 dark:text-surface-400 block mb-4">
    Informe como você quer que sua prova seja gerada.
  </span>

  <!-- Exam's title -->
  <div class="flex flex-col items-start gap-2 mb-2">
    <label for="exam-title" class="font-normal">Título da prova</label>
    <input type="text" pInputText [(ngModel)]="examCreateInfo.title" placeholder="Título da prova"
      [required]="true" class="w-96"/>
  </div>

  <!-- Exam's initial instructions -->

  <!--
    Example:
    This test consists of 10 questions. Each question has 4 options, but only one is correct.
    Choose the correct option and click on the "Next" button to go to the next question.
  -->
  <div class="flex flex-col items-start gap-2 mb-2">
    <label for="exam-instructions" class="font-normal">Instruções iniciais</label>
    <textarea pTextarea [(ngModel)]="examCreateInfo.instructions" rows="2" class="w-96"
      placeholder="O que você gostaria que os alunos soubessem antes de começar a prova?">
    </textarea>
  </div>

  <!-- Exam's subject -->
  <div class="flex flex-col items-start gap-2 mb-2">
    <label for="subject-select" (click)="subjectSelect.show(true)">Matéria</label>
    <p-select #subjectSelect id="subject-select" [options]="subjects" optionLabel="name" [filter]="true" filterBy="name"
      [showClear]="true" placeholder="Selecione uma matéria" [required]="true" name="subject"
      [(ngModel)]="examCreateInfo.subject_id" [appendTo]="'body'" class="w-96">
      <ng-template let-selectedOption>
        <div>{{ selectedOption.name }}</div>
      </ng-template>
    </p-select>
  </div>

  <!-- Number of questions -->
  <div class="flex flex-col items-start gap-2 mb-2">
    <label for="question-num" class="font-normal">Quantidade de questões</label>
    <p-inputnumber [(ngModel)]="numberOfQuestions" [showButtons]="true" inputId="question-num" [min]="5"
      [max]="20" [required]="true" name="number-of-questions" class="w-96">
      <ng-template #incrementbuttonicon>
        <span class="pi pi-plus"></span>
      </ng-template>
      <ng-template #decrementbuttonicon>
        <span class="pi pi-minus"></span>
      </ng-template>
    </p-inputnumber>
  </div>

  <!-- Actions -->
  <ng-template #footer>
    <p-button label="Cancel" [outlined]="true" severity="danger" (click)="visible = false" />
    <p-button label="Save" severity="success" (click)="visible = false" />
  </ng-template>

</p-dialog>