<p-toast></p-toast>
<p-confirmdialog [header]="'Confirmar'" [icon]="'pi pi-exclamation-triangle'"></p-confirmdialog>

<app-sidebar-drawer></app-sidebar-drawer>

<app-create-exam-dialog [visible]="createExamDialogVisible"
  [subjects]="subjects"
  [isAutomaticGeneration]="true"
  (examSubmitted)="handleDialogSubmitted($event)"
  (dialogClosed)="closeCreateExamDialog()"></app-create-exam-dialog>

<div class="p-4 surface-ground transition-all">
  <div class="max-w-screen-xl mx-auto">

    <div class="flex items-center justify-between mb-4 w-full">
      <h2 class="text-2xl font-semibold text-900">Provas</h2>
      <div class="flex items-end gap-4">
        <div class="col-span-1 md:col-span-1">
          <p-select [options]="subjects" [(ngModel)]="selectedSubject" optionLabel="name" placeholder="Disciplina"
            (onChange)="onFilterChange()" class="w-full md:w-auto" />
        </div>
        <div class="col-span-1 md:col-span-1">
          <p-select [options]="teachers" [(ngModel)]="selectedTeacher" optionLabel="fullName" placeholder="Professor"
            (onChange)="onFilterChange()" class="w-full md:w-auto" />
        </div>
        <div class="col-span-1 md:col-span-1">
          <span>Até</span>
          <p-inputnumber [(ngModel)]="maxNumOfQuestions" [showButtons]="true"
            inputId="minmax-buttons" [min]="5" [max]="20" class="mx-2">
            <ng-template #incrementbuttonicon>
              <span class="pi pi-plus"></span>
            </ng-template>
            <ng-template #decrementbuttonicon>
              <span class="pi pi-minus"></span>
            </ng-template>
          </p-inputnumber>
          <span>questões</span>
        </div>
        <p-button type="button" label="Criar prova" class="w-full md:w-auto"
          (click)="showCreateExamDialog()" />
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      @for (exam of (filteredExams.length ? filteredExams : exams.results); track exam.id) {
      <div
        class="surface-card p-4 border-round shadow-2 hover:shadow-4 transition-all duration-300 border border-gray-500 rounded-md">
        <div class="flex items-center justify-between mb-2">
          <div>
            <h3 class="text-xl font-semibold text-900">Título: {{ exam.title }}</h3>
            <h4 class="text-lg text-600">{{ exam.total_question }} questões</h4>
          </div>
          <div class="flex gap-2">
            <button pButton type="button" icon="pi pi-eye" class="p-button-rounded p-button-text p-button-sm"
              (click)="viewExam(exam.id)" pTooltip="Visualizar" tooltipPosition="top"></button>
            <button pButton type="button" icon="pi pi-trash"
              class="p-button-rounded p-button-text p-button-sm p-button-danger" pTooltip="Excluir"
              tooltipPosition="top" (click)="confirmDeleteExam(exam.id)"></button>
          </div>
        </div>
        <div class="text-sm text-600">
          <div class="flex items-center gap-2">
            <i class="pi pi-user"></i> <span>Professor:</span> {{ exam.user.first_name }} {{ exam.user.last_name }}
          </div>
          <div class="flex items-center gap-2 mt-1">
            <i class="pi pi-book"></i> <span>Matéria:</span> {{ exam.subject.name }}
          </div>
          <div class="flex items-center gap-2 mt-1">
            <i class="pi pi-calendar-plus"></i> <span>Criado em:</span> {{ formatDate(exam.created_at) }}
          </div>
        </div>
      </div>
      }
    </div>

    <div class="flex justify-center items-center mt-8">
      <p-paginator (onPageChange)="onPageChange($event)" [first]="(exams.page - 1) * exams.size" [rows]="exams.size"
        [totalRecords]="exams.total" [rowsPerPageOptions]="[8, 12, 16]" />
    </div>

  </div>
</div>
