<app-sidebar-drawer></app-sidebar-drawer>
<p-toast></p-toast>
<p-confirmdialog></p-confirmdialog>
<div class="p-4 pr-4 max-w-screen-xl mx-auto transition-all">
  <p-toast />
  <p-panel [header]="variableLabels.heading">
    <div class="mb-3">
      <h2 class="text-base">Preencha os campos necessários para criar uma questão</h2>
    </div>
    <form [formGroup]="questionCreationForm" (ngSubmit)="createOrUpdateQuestion()" class="flex flex-col gap-4"
      [method]="question.id ? 'PUT' : 'POST'">
      <!-- [action]="question.id ? 'question/' + question.id : 'question'" -->
     
      <label for="question-text">Texto da questão</label>
      <textarea id="question-text" rows="5" cols="30" pTextarea formControlName="questionText" [required]="true"
        maxlength="500"></textarea>
     
      <div class="flex gap-4 max-[768px]:flex-col">
     
        <div class="flex flex-col gap-2 md:w-1/2">
          <label for="subject-select" (click)="subjectSelect.show(true)">Assunto</label>
          <p-select #subjectSelect id="subject-select" [options]="subjects" formControlName="subject" optionLabel="name"
            [filter]="true" filterBy="name" [showClear]="true" placeholder="Selecione um assunto" class="w-full"
            [required]="true">
            <ng-template let-selectedOption>
              <div>{{ selectedOption.name }}</div>
            </ng-template>
          </p-select>
        </div>
     
        <div class="flex flex-col gap-2 md:w-1/2">
          <label for="difficulty-select" (click)="difficultySelect.show(true)">Dificuldade</label>
          <p-select #difficultySelect id="difficulty-select" [options]="difficulties" formControlName="difficulty"
            optionLabel="name" [filter]="true" filterBy="name" [showClear]="true"
            placeholder="Selecione uma dificuldade" class="w-full" [required]="true">
            <ng-template let-selectedOption>
              <div>{{ selectedOption.name }}</div>
            </ng-template>
          </p-select>
        </div>
      </div>
     
      <p-fileupload name="questionImage" (onUpload)="onUpload($event)" accept="image/*" maxFileSize="5000000"
        mode="advanced" [showUploadButton]="false" chooseLabel="Escolher" cancelLabel="Cancelar">
        <ng-template #empty>
          <div>Arraste e solte arquivos aqui para fazer upload.</div>
        </ng-template>
        <ng-template #content>
          @if (uploadedFiles.length) {
          <ul>
            <li>{{ uploadedFiles[0].name }} - {{ uploadedFiles[0].size }}</li>
          </ul>
          }
        </ng-template>
      </p-fileupload>
     
      <app-option-select (optionChangedEvent)="onOptionsChanged($event)"
        [options]="question.options"></app-option-select>
     
      <div class="flex gap-4 mt-1">
        <p-button type="submit" [disabled]="questionCreationForm.invalid" [label]="variableLabels.button" class="w-full"
          styleClass="w-full" />
        <p-button (click)="goTo('list-question')" label="Voltar" severity="secondary" class="w-full" [outlined]="true"
          styleClass="w-full" />
      </div>
   
    </form>
  </p-panel>
</div>