<p-drawer #drawerRef [(visible)]="visible">
    <ng-template #headless>
        <div class="flex flex-col h-full">
            <div class="flex items-center justify-between px-6 pt-4 shrink-0">
                <span class="inline-flex items-center gap-2">
                    <svg width="31" height="33" viewBox="0 0 31 33" fill="none" xmlns="http://www.w3.org/2000/svg" class="block mx-auto">
                        <path d="..." />
                    </svg>
                    <div class="p-toolbar-group-left flex items-end">
                        <img src="/logo.png" alt="Logo" class="w-12 h-12 mr-3">
                        <span class="text-2xl font-bold tracking-tight">Examinis</span>
                    </div>
                </span>

            </div>
            <hr class="mt-12 mb-4 mx-4 border-t border-0 border-surface" />
            <div class="overflow-y-auto">
                <ul class="list-none p-4 m-0 overflow-hidden">
                    <li>
                        <a pRipple 
                          (click)="goTo('list-question')"
                          class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                          <i class="pi pi-list mr-2"></i>
                          <span class="font-medium">Listar</span>
                        </a>
                      </li>
                      
                    <li>
                        <a pRipple 
                        (click)="goTo('create-question')"
                        class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                            <i class="pi pi-plus mr-2"></i>
                            <span class="font-medium">Criar</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mt-auto">
                <hr class="mb-4 mx-4 border-t border-0 border-surface" />
                <a pRipple class="m-4 flex items-center cursor-pointer p-4 gap-2 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
                    <span class="font-bold">Admin da Silva</span>
                </a>
            </div>
        </div>
    </ng-template>
</p-drawer>
<p-button (click)="visible = true" icon="pi pi-bars" />