<div class="p-4 rounded-lg shadow-md">
  <h3 class="text-lg font-semibold mb-4">Cadastro de Alternativas</h3>
  @for (alternative of alternatives; track alternative.id) {

  <div class="flex items-center gap-4 mb-3">
    <input type="radio" id="alternative-{{ alternative.id }}" [value]="alternative.id" name="correctAlternative" class="form-radio text-blue-500"
      [(ngModel)]="selectedCorrectAlternative" />
    <input type="text" id="alternative-text-{{ alternative.id }}" [(ngModel)]="alternative.text" placeholder="Digite a alternativa"
      class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
    @if (alternatives.length > 2) {
    <button type="button" (click)="removeAlternative(alternative.id)" class="text-red-500 hover:text-red-700">
      Remover
    </button>
    }
  </div>
  }

  <button type="button" (click)="addAlternative()"
    class="px-4 py-2 bg-green-500 text-white font-semibold rounded-md hover:bg-green-600">
    Adicionar Alternativa
  </button>
</div>